.shopping-list-container {
  border: 3px dashed #6c757d; /* Borda tracejada cinza */
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

.shopping-list-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: repeating-linear-gradient(90deg, #ccc, #ccc 10px, transparent 10px, transparent 20px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

h1 {
  font-weight: 700;
  color: #0d6efd;
  font-family: 'Permanent Marker', cursive; /* Fonte estilo escrita à mão */
}

.input-group {
  max-width: 100%;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: 'Arial', sans-serif;
}

.list-group-item-light {
  background-color: #f8f9fa;
}

.list-group-item-secondary {
  background-color: #e9ecef;
}

.btn-outline-primary:hover,
.btn-outline-success:hover,
.btn-outline-warning:hover,
.btn-outline-danger:hover {
  transition: background-color 0.3s ease-in-out;
  color: #fff;
}
