<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light-translucent bg-light-translucent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <button class="btn btn-light"(click)="login()">
        <i class="bi bi-box-arrow-in-right"></i>
      </button>
    </div>
  </nav>
</div>
